.ModalOptions-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.624);
   
}

.ModalOptions-modal{
    position: fixed;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 136px;
    border-radius: 24px 16px 40px 16px;
    background-color: #F0F4F7;
}

.ModalOptions-text{
    width: 328px;
    height: 72px;
    gap: 24px;
    margin: 30px;
    position: relative;
    bottom: 20px;
}

.ModalOptions-edit>a>img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.ModalOptions-edit>a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: left;
}


.ModalOptions-edit{
    margin-bottom: 20px;

}

.ModalOptions-delete>button>img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.ModalOptions-delete>button{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: left;
    cursor: pointer;
}