.EditFruit-form>form>input{
    display: flex;
}

.EditFruit-headerX{
    float: right;
}

.EditFruit-headerX>a>img{
    width: 30px;
    height: 32px;
    position: relative;
    bottom: 10px;
    
}

.EditFruit-headerText{
    color: #DA0D1E;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 191px;
    height: 24px;
    top: 20px;
    position: relative;
}

.EditFruit-inputName{
    background-color: #FFFFFF;
    padding: 8px 16px 8px 12px;
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    margin-top: 80px;
    width: 300px;
    height: 40px;
    box-shadow: 0px 2px 6px 2px #00000026;
    box-shadow: 0px 1px 2px 0px #0000004D;

}

.EditFruit-inputName>input{
    background-color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.EditFruit-inputPrice{
    background-color: #FFFFFF;
    padding: 8px 16px 8px 12px;
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    margin-top: 20px;
    width: 300px;
    height: 40px;
    box-shadow: 0px 2px 6px 2px #00000026;
    box-shadow: 0px 1px 2px 0px #0000004D;
}

.EditFruit-inputPrice>input{
    background-color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.EditFruit-inputQuantity{
    background-color: #FFFFFF;
    padding: 8px 16px 8px 12px;
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    margin-top: 20px;
    width: 300px;
    height: 40px;
    box-shadow: 0px 2px 6px 2px #00000026;
    box-shadow: 0px 1px 2px 0px #0000004D;
}

.EditFruit-inputQuantity>input{
    background-color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.EditFruit-inputNameImage{
    background-color: #FFFFFF;
}

.EditFruit-inputPriceImage{
    background-color: #FFFFFF;
}

.EditFruit-inputQuantityImage{
    background-color: #FFFFFF;
}

.EditFruit-inputNameImage>img{
    width: 24px;
    height: 24px;
    position: relative;
    top:8px;
    left: 5px;
}

.EditFruit-inputPriceImage>img{
    width: 24px;
    height: 24px;
    position: relative;
    top:8px;
    left: 5px;
}

.EditFruit-inputQuantityImage>img{
    width: 24px;
    height: 24px;
    position: relative;
    top:8px;
    left: 5px;
}