.registerSuccess-container{
    margin: 0 auto;
    padding-top: 50px;
}

.registerSuccess-header{
    float: right;
}

.registerSuccess-header>a>img{
    width: 32px;
   
}

.registerSuccess-image>img{
    padding-top: 80px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 169.35px;
    height: 200px;   
}

.registerSuccess-button>a{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 150px;
}

.registerSuccess-text{
    margin-top: 50px;
    margin-left: 20px;
}

.registerSuccess-text>h3{
    size: 19px;
}

.registerSuccess-subtext{
    color: #6C7072;
    width: 328px;
}


