.homePage-item{
    background-color: #FFFFFF;
    padding: 8px 16px 8px 12px;
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    margin-top: 20px;
    width: 296px;
    height: 56px;
    box-shadow: 0px 2px 6px 2px #00000026;
    box-shadow: 0px 1px 2px 0px #0000004D;
}

.homePage-search{
    width: 296px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 16px 8px 12px;
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 6px 2px #00000026;
    box-shadow: 0px 1px 2px 0px #0000004D;
}

.homePage-search>form>input{
    background-color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.homePage-search>form{
    background-color: white;
}

.homePage-buttonSearch>img{
    width: 24px;
    height: 24px;
}

.homePage-options{
    display: flex;
    align-items: right;
    justify-content: right;
    float: right;
    width: 24px;
    height: 24px;
    gap: 16px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}

.homePage-buttonSearch{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    position: relative;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.homePage-itemName{
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    float: left;
    width: 256px;
    height: 24px;
    display: block;
}

.homePage-itemPrice{
    background-color: #FFFFFF;
    color: #008C21;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    width: 62px;
    height: 16px;
    display: inline;
}

.homePage-itemPrice>img{
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.homePage-itemQuantity{
    background-color: #FFFFFF;
    color: #6C7072;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    display: inline;
    width: 181px;
    height: 16px;
    margin-left: 20px;
}

.homePage-itens{
    display: block;
    background-color: #FFFFFF;
}

#homePage-registerPlus{
    width: 56px;
    height: 56px;
    top: 488px;
    left: 288px;
    position: fixed;
    background-color: #DA0D1E;
    border-radius: 15px;
    box-shadow: 0px 8px 12px 6px #00000026;
    box-shadow: 0px 4px 4px 0px #0000004D;

}

#homePage-registerPlus>img{
    width: 32px;
    height: 32px;
    top: 12px;
    left: 12px;
    padding: 6px;
    background-color:#DA0D1E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4px;
  
}
.homePage-emptyText{
    width: 328px;
    height: 24px;
    top: 216px;
    left: 16px;
    position: relative;
}

#homePage-emtpyButton{
    position: relative;
    text-align: center;
}